@import "loader1.css";
@import "loader2.css";
@import "loader3.css";
@import "loader4.css";
@import "loader5.css";
@import "loader6.css";
@import "loader7.css";
@import "loader8.css";

body,
div {
    background: aqua;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.inner {
    width: 960px;
    margin: 0 auto;
}
.load-container {
    border: 1px solid #ffffff;
    width: 240px;
    height: 240px;
    float: left;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
